<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add employee</title>
</head>
<body>
    <form action="/addemp" method="post">

        {% csrf_token %}
        <label for="fname">First Name:</label>
        <input type="text" name="fname" placeholder="first name.."> <br>

        <label for="lname">Last Name:</label>
        <input type="text" name="lname" placeholder="last name.."> <br>

        

        <label for="salary">Salary:</label>
        <input type="number" name="salary" placeholder="salary.."> <br>

        <label for="bonus">Bonus:</label>
        <input type="number" name="bonus" placeholder="bonus.."> <br>

        

        <label for="hire"> Hire Date:</label>
        <input type="datetime" name="hire" placeholder="hire date.."> <br>

        <button type="submit"> ADD </button>
    </form>
</body>
</html>