<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Detial of {{ emps.firstname }} are:</h2> <hr>
    <thead>
        
        <th>First Name</th>
        <th>Last Name</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Bonus</th>
        <th>Role</th>
        <th>Hire Date</th>
        </thead>
    
        <!-- {% for emps in emps %} -->
        <br>
        <tbody>
            <td>{{ emps.firstname }}</td>
            <td>{{ emps.lastname }}</td>
            <td>{{ emps.salary }}</td>
            <td>{{ emps.bonus }}</td>
            <td>{{ emps.hiredate }}</td>
        </tbody>
        <!-- {% endfor %} -->
</body>
</html>