<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <style>
        button{
            background-color: blue;
            color: white;
            border-radius: 12px;
            border: 0ch;
        }
        a{
            color: white;
            text-decoration: none;
        }
        /* *{
            flex-wrap: wrap;
        } */
        button:hover{
            background-color: rgb(21, 19, 77);
        }
    </style>

</head>
<body>

    <h2>Office Management System</h2>  <hr>
    <button type="submit"> <a href="viewemp"> View All Employee</a></button>
    <button type="submit"> <a href="addemp"> Add An Employee</a></button>
    <button type="submit"> <a href="delemp"> Remove Employee</a></button>
    <button type="submit"> <a href="filteremp"> Filter Employee</a></button>

</body>
</html>